@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  color-scheme: light dark;

  font-family: 'Montserrat', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --v-padding: 2px;
  --h-padding: 18px;

  --btn-height: 44px;
  --btn-width: 267px;

  --color-secondary: rgba(9, 36, 68, 0.8);
  --color-primary: rgba(53, 3, 39, 0.8);
  --background-color-primary: rgba(196, 172, 172, 0.35);
  --background-input-color-primary: rgba(177, 153, 153, 0.75);
  --border-color-primary: rgba(177, 153, 153, 0.85);
  --popup-background-color: rgba(196, 172, 172, 0.5);
  --popup-border-color: rgba(196, 172, 172, 1);

  --border-radius-small: 15px;
  --border-radius-medium: 25px;

  --font-family: 'Montserrat';
  --font-semi-bold: 600;
  --font-bold: 700;

  --icon-text-gap-medium: 8px;
  --icon-text-gap-small: 2px;

  --spacing: 22px;
}

html, body {
  margin: 0;
  padding: 0;
}

#app {
  width: 100vw;
  min-height: 100vh;
  background: url("assets/icons/app-bg.svg") center center fixed;
  background-size: cover;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  color: var(--color-primary);
  box-sizing: border-box;
}

